@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif; 
}

/* ---------------------------------------------------------------> */
/* This section is requried to always keep the footer at the bottom */
.master-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-print-color-adjust: exact !important; }
  
.main, main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectWrapper{
    width: 80%;
    max-width: 645px;
    border: 1px solid lightgray;
    padding: 48px 21px;
}

.selectDepartment{
    border: 1px solid #e2e4e2;
    border-radius: 7px;
    margin-bottom: 10px;
}

.nextButton{
    cursor: pointer;
    border:1px solid #e2e4e2;
    padding: 6px 21px;
    width: 100px;
    background-color: #3d4e5e;
    color: white;
    font-weight: bold;
    letter-spacing: 0.094em;
    border-radius: 5px;
    margin:auto;
}

.nextButton:hover{
    color: #3d4e5e;
    border:1px solid #3d4e5e;
    background-color: white;
}