.building{
    border: 1px solid gray;
    padding:20px;
    margin-bottom: 30px;
}
.building-row{
    display: flex;

}
.building-name-label{
    font-size: 20px;
    margin-right: 20px;
    /* width: 20%; */
}

.building-name-textbox{
    padding:5px;
    font-size: 16px;
    width: 60%;
}

.save-building-button{
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-floor-button{
    padding: 6px 20px;
    margin-left: 140px;
    margin-top: 20px;
}

.hiddenAddFloorButton{
    display: none;
}