
.examName{
    font-size: 20px;
}

.reference{
    font-size: 14px;
}

h1{
    margin-top: 30px;
    margin-bottom: 10px;
}
.buildingAndFloor{
    display: inline-flex;
    margin-bottom: 50px;
    background-color: rgb(202, 199, 199);
    justify-content: center;
    border-radius: 10px;
    padding:2px 10px;
    width: auto;
}
.floorName{
    margin-left: 20px !important;
}
.cont{
    max-width: 900px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.input-row{
    display: flex;
}

.inputBox{
    border:1px solid gray;
    padding:5px;
    padding-bottom: 0;;
}

.inputBox label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color:#3d4e5e;
}

.inputBox input[type="text"]{
    display: block;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
}
.buttonCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.saveButton{
    height: 36px;
    width: 145px;
    padding:10px;
    margin-top: 0;
    margin-left: 20px;
    border:1px solid black;
    border-radius: 20px;
    background-color: white;
    color:black;
    outline: none;
    cursor: pointer;
}

.saveButton:disabled{
    background-color: white;
    color:black;
    cursor: default;
}

.saveButton:hover:enabled{
    background-color: gray;
    color:white;
}

.saveButton:focus:enabled{
    background-color: gray;
    color:white;
}

.saveResult{
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.addedRoom{
    display: flex;
}

.addedRoom>div:first-child{
    border: 1px solid;
        width: 159px;
        border-top: 0;
        border-right: 0;
        background-color: #f3f0f0;
}

.addedRoom>div:nth-child(2){
    border: 1px solid;
    width: 159px;
        border-top: 0;
        border-right: 0;
        background-color: #f3f0f0;
}

.addedRoom>div:nth-child(3){
    border: 1px solid;
    width: 158px;
        border-top: 0;
        border-right: 0;
        background-color: #f3f0f0;
}

.addedRoom>div:nth-child(4){
    border: 1px solid;
    width: 159px;
    border-top: 0;
    background-color: #f3f0f0;
}

.addedRoom>div:nth-child(5){
    border:0;
    width: 159px;
    border-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}