@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
}


#login-main{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

h1{
    color:rgb(90, 88, 88);
    text-shadow: 0.09rem;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

h2{
    font-size: 20px;
    text-align: center;

}
#login-form-container{
    padding:20px;
    width:500px;
    background-color:white;
    height:300px;
    -webkit-box-shadow: 0 0 10px rgb(128, 126, 126);
    box-shadow: 0 0 4px rgb(128, 126, 126);
}

article{
    padding-top:20px;
    text-align: center;
}

input[type="text"], input[type="password"]{
    width:60%;
    padding:10px;
    border:0;
    border-bottom:1px solid gray;
    text-align: center;
    font-size: 15px;
    outline: none;
}


input[type="submit"]{
    width:150px;
    padding:10px;
    border:1px solid black;
    border-radius: 20px;
    background-color: white;
    color:black;
    outline: none;
    cursor: pointer;
}


input[type="submit"]:hover{
   
    background-color: gray;
    color:white;
    
}