@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#login-main{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.loginTitle{
    color:rgb(90, 88, 88);
    text-shadow: 0.09rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.departmentLogo{
    margin-right: 10px;
    margin-top: 5px
}

.departmentLogo>img{
    height: 40px;

}
.departmentName{
    color:rgb(90, 88, 88);
    text-shadow: 0.09rem;
    font-size: 20px;
    font-weight: 700;
    /* text-transform: uppercase; */
    /* margin-bottom: 20px; */
}

.ministryName{
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: 8px;
    text-align: left;
}

#login-form-container{
    padding:20px;
    width:500px;
    background-color:white;
    height:300px;
    -webkit-box-shadow: 0 0 10px rgb(128, 126, 126);
    box-shadow: 0 0 4px rgb(128, 126, 126);
}

.login-article{
    padding-top:20px;
    text-align: center;
}

.login-name-textbox, .login-password-textbox{
    width:60% !important;
    padding:10px;
    border:0;
    border-bottom:1px solid gray;
    text-align: center;
    font-size: 15px;
    outline: none;
}


.login-button{
    width:150px;
    padding:10px;
    border:1px solid black;
    border-radius: 20px;
    background-color: white;
    color:black;
    outline: none;
    cursor: pointer;
}


.login-button:hover{
   
    background-color: gray;
    color:white;
    
}